@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <hr />

    <a asp-controller="Trabajadores" asp-action="Index" class="btn btn-primary btn-lg">
        Ir al Módulo de Trabajadores
    </a>
</div>